@import url("../css/variables.css");


.main_body {
    background-color: var(--background-color);
    background-size: cover;
    background-position: center;

    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: var(--main-body-height);
    margin: 0;
}
.click-button {
    background-color: var(--fourth-color);
    color: var(--background-color);
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border: 2px solid var(--third-color);
    border-radius: 4px;
}
.click-button:hover {
    background-color: var(--second-color);
    border-radius: 10px;
}



/*------------MAIN BOX---------------*/
.main-center-box {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-h1 {
    -webkit-text-emphasis-color: var(--text-emphasis);
    margin-bottom: 10px;
}
.main-p {
    -webkit-text-emphasis-color: var(--text-emphasis);
    margin-bottom: 30px;
}



/*----------------AUTH-----------------*/
.auth-buttons {
    display: flex;
    gap: 10px;
    width: 50%;
}
@media screen and (min-width: 650px){
    .auth-buttons {
        width: 80%;
    }
}

/*-------------LOGIN FORM--------------*/
.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}
.login-form input {
    padding: 12px;
    width: 40vh;
    font-size: 14px;
    border: 2px solid var(--first-color);
    border-radius: 4px;
}

/*-------------REGISTRATION FORM--------------*/
.register-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 200px;
    margin-bottom: 15px;
}
.register-form input {
    padding: 12px;
    width: 40vh;
    font-size: 14px;
    border: 2px solid var(--first-color);
    border-radius: 4px;
}
.register-form-input-icon {
    height: 16px;
    width: 16px;
    margin-left: 8px;
}





/*------------NAVIGATION BAR----------------*/
.navbar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: var(--third-color);
    -webkit-text-emphasis-color: var(--text-emphasis);
    padding: 10px 0;
    z-index: 100;
    border-bottom: 2px solid var(--second-color);
}
.navbar-section {

}
.navbar-link {
    color: var(--fourth-color);
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    display: block;
    padding: 3px 10px;
}
.navbar-link:hover {
    background-color: var(--second-color);
    border-radius: 100px;
    padding: 5px;
}




/*------------TOOLTIP--------------*/
.tooltip {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    width: 70px;
    color: var(--background-color);
    font-size: 12px;
    background-color: var(--third-color);
    border-radius: 10px;
    padding: 5px 6px 6px 6px;
}
.input-icon:hover + .tooltip {
    visibility: visible;
}




/*-----------SEARCH AUDIENCE part of index.html ----------*/
.search-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.input-label {
    font-weight: bold;
    margin-right: 5px;
}
.input-field, .select-field, .click-button {
    padding: 8px;
    font-size: 14px;
    border: 2px solid var(--first-color);
    border-radius: 4px;
    width: 300px; /* Add consistent width here */
}
.select-field {
    padding: 8px;
    width: 100%;
    font-size: 14px;
    border: 2px solid var(--first-color);
    border-radius: 4px;
}

/*------------ RESULT CARD OF SEARCH (search.html) ----------------*/

.results-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    padding: 20px;
    gap: 15px;
    width: 80%;
    height: 83%;
    margin-top: 30px;
}
.result-card {
    display: flex;
    width: 90%;
    border-bottom: 1px solid var(--third-color);
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;
    max-height: 400px;
    padding: 3px;
}
.result-card-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.result-card-description img {
    align-self: center;
    border: 1px solid var(--third-color);
    max-width: 60%;
    max-height: 200px;
}
.result-card-description-info {
    display: flex;
    flex-direction: column;
    margin-left: 0;
}
.result-card-description-info-tb {
    width: 100%;
    overflow-x: auto;
    display: block;
}
.result-card-description-info-tb td {
    word-wrap: break-word;
    padding-left: 0;
    white-space: normal;
}
.result-card-description-info-tb-name {
    align-self: center;
    padding-left: 0;
}
.result-card-book-button {
    margin-top: 10px;
    align-self: center;
    height: 10%;
    width: 50%;
}

@media screen and (min-width: 1000px) {
    .result-card {
        flex-direction: row;
        justify-content: space-between;
    }
    .result-card-description {
        flex-direction: row;
    }
    .result-card-description-info {
        width: 50%;
        margin-left: 10px;
    }
    .result-card-description-info-tb {
        justify-content: space-between;
        display: table;
    }
    .result-card-description-info-tb td {
        padding-left: 5px;
    }
    .result-card-description-info-tb-name {
        align-self: normal;
        padding-left: 6px;
    }
    .result-card-description img {
        width: 30%;
        margin-left: 0;
    }
    .result-card-book-button {
        align-self: flex-end;
        height: 9%;
        width: 10%;
        margin-bottom: 6.5%;
        margin-right: 5px;
        font-size: 14px;
    }
}





/*-------------- ORDERS ------------*/
.orders-table {
    border-collapse: collapse;
    width: 100%;
}
.orders-table th {
    background-color: var(--fourth-color);
    color: var(--background-color);
}
.orders-table th, .orders-table td {
    border: 1px ridge var(--third-color);
    padding: 12px;
}
.orders-table-container {
    border-bottom: 1px var(--third-color) ridge;
    border-right: 1px var(--third-color) ridge;
    border-top: 1px var(--third-color) ridge;
    max-height: 400px;
    overflow-y: auto;
}
.order-link {
    text-decoration: none;
    color: inherit;
}
.order-link:hover {
    background-color: var(--fourth-color);
    color: white;
    text-decoration: var(--third-color) underline;
}


/*------------- ORDERS DETAILS --------*/
.orders-details-grid {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}
.orders-fixed-image {
    flex: 1;
    align-self: center;
    border: 1px solid;
    margin-right: 10px;
    max-width: 50%;
    max-height: 300px;
}
.orders-details-container {
    flex: 1;
}
.orders-details-container table {
    margin-right: 10px;
}
.orders-details-container td {
    padding: 2px;
}

@media screen and (min-width: 1100px) {
    .orders-details-grid {
        flex-direction: row;
    }
    .orders-fixed-image {
        align-self: normal;
        max-height: 50%;
    }
}




/*-----------------ACCOUNT--------------*/
.account-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}
.account-form-input-field {
    padding: 12px;
    width: 200px;
    font-size: 14px;
    border: 2px solid var(--first-color);
    border-radius: 4px;
}




/* ---------- FOOTER ---------- */

.site-footer {
    flex-shrink: 0;
    height: 150px; /* Adjust this value based on how much of the footer you want to be initially visible */
    padding: 30px;
    margin-top: auto;
    overflow: hidden;
    background-color: var(--third-color);
    color: var(--background-color);
    position: relative;
    width: 100%;
    text-align: center;
}
.footer-container {
    max-width: 80%;
    margin: auto;
}
.footer-section h4 {
    margin-top: 30px;
    margin-bottom: 10px;
}
.footer-section p {
    margin: 0;
}
.footer-section a {
    color: var(--background-color);
    text-decoration: none;
}




/*------------MAIN SCROLL BAR------------*/
body::-webkit-scrollbar {
    display: none;
}


/*------------DIV SCROLL BAR------------*/
/* width */
div::-webkit-scrollbar {
    width: 5px;
}

/* Track */
div::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
div::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
div::-webkit-scrollbar-thumb:hover {
    background: #555;
}




/* ----------------CUSTOM ERRORS-------------*/
.custom-error-message {
    text-align: center;
    color: #303841;
    flex-grow: 1;
    padding-top: 250px;
}

