:root {

/* Colors */
    --background-color: whitesmoke;
    --first-color: #d3d6db;
    --second-color: #3a4750;
    --third-color: #303841;
    --fourth-color: #be3144;
    --text-emphasis: #ff8364;

/* Sizes */
    --main-body-height: 125vh;
}